# Copiar este archivo como .env y rellenar los valores reales

DB_HOST=localhost
DB_PORT=5432
DB_NAME=project_air
DB_USER=postgres
DB_PASSWORD=ju4nj0s3

JWT_SECRET=cambiar_esto_por_un_texto_secreto_largo
JWT_EXPIRES_IN=8h

PORT=3000